<html lang="PT-BR>
<head>
    <%- include ('../partials/head.ejs') %>
    <title> Esqueci minha senha | SaúdeNet</title>
</head>
<body>
   <%- include ('../partials/navbar.ejs') %>
      <br>
      <div class="container- d-flex justify-content-center align-items-center" style="min-height: vh">
        
      	<form class="border bg-white p-3 rounded" action="/profissional/esqueciminhasenha" method="POST" style="width: 450px;">
      	      <h3 class="text-center p-3" >Recuperar senha - Profissional</h3>
      	      
        <div class="mb-3">
            
          <label for="email" class="form-label" >Insira o email associado a sua conta.</label>
          <input type="email" class="form-control" name="email" id="usuario" value="<%= dadosESPr %>">
          <p style="color: red"><%= errosESPr %></p>
          
        </div>
		 
        <button type="submit" class="btn btn-success w-100">Redefinir senha</button>
        
        <% if (mensagem.length != 0) { %>
            <br><br>
            <div class="alert alert-success" role="alert">
                Foi enviado um email contendo um link para redefinir sua senha. O link expira em 15 minutos.
            </div>
        <% } %>
        
		  </form>

    </div>
       
</body>

    <%- include ('../partials/codigo.ejs') %>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/localization/messages_pt_BR.min.js"></script>
    <script src="../js/additional-methods.min.js"></script>

</html>
